<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">
        <h3>
            Hola, soy Joan. Queso de Cabeza es mi jardín digital en el que comparto mis ideas y proyectos. En una web dominada por las redes sociales, es hora de reapropiarnos de ella, creando nuestros propios espacios.
            Como un queso de cabeza, este sitio web es heterogeneo. Así que acá podrás encontrar mis ideas sobre varios temas. A veces más, a veces menos detalladas.  
            Puedes revisar mis <a href="{{'/notas' | relative_url}}">notas</a>, y <a href="{{'/listas' | relative_url}}">listas</a>
        </h3> 
    </div>
</div>

<div class="buttons" align="center">
    <a href="https://www.mozilla.org/en-US/firefox/new/"><img src="/assets/img/firefox.gif"></a>
    <a href="https://yesterweb.org/no-to-web3/" target="_blank"><img src="/assets/img/web3.gif"></a>
    <img src="/assets/img/antinft.gif" alt="nft = trash">
    <a href="https://riseup.net/pl/about-us/" target="_blank"><img src="/assets/img/riseup.gif"></a>
</div>
